fastapi
uvicorn[standard]
pandas
numpy
scikit-learn
scipy
python-dateutil


#OPENAI_API_KEY = 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